@import url("https://fonts.cdnfonts.com/css/general-sans");
@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.cdnfonts.com/css/open-sans");
@import url("https://fonts.cdnfonts.com/css/edu-tas-beginner");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #010103; */
  font-family: "roboto", sans-serif;
  font-size: 18px;
  /* color: rgba(255, 255, 255, 0.97); */
}
.bg {
  background: #49495c2b;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(180deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust grid size */
}
.nav-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 3px;
  background: #94fc13;
  transition: 0.15s;
}

.nav-list:hover::after {
  width: 100%;
}

.sub-title::after,
.main-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  cursor: pointer;
  border-radius: 100px;
  background: #94fc13;
  transition: 0.5s;
  box-shadow: 0 0 5px #94fc13, 0 0 10px #94fc13, 0 0 15px #94fc13,
    0 0 30px #94fc13;
}

.sub-title:hover::after,
.main-title:hover:after {
  width: 100%;
  color: rgb(180, 180, 180);
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .head-text {
    @apply sm:text-4xl text-3xl font-semibold text-gray_gradient;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  /* contact section */
  .contact-container {
    @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
  }

  .field-label {
    @apply text-lg text-white-600;
  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }

  .main-title {
    @apply lg:text-5xl text-4xl font-bold md:ml-48 ml-10;
  }
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

.shadow-line {
  box-shadow: 0 0 5px rgb(16, 255, 16), 0 0 15px rgb(16, 255, 16),
    0 0 25px rgb(16, 255, 16), 0 0 35px rgb(12, 200, 12),
    0 0 50px rgb(0, 255, 0), 0 0 70px rgb(12, 185, 12),
    0 0 90px rgb(54, 255, 54);
}
.l {
  text-shadow: 0 0 5px rgb(16, 255, 16), 0 0 10px rgb(12, 200, 12),
    0 0 20px rgb(0, 255, 0), 0 0 40px rgb(12, 185, 12),
    0 0 80px rgb(54, 255, 54);
}

.cont {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.789);
}

/* .contHover {
  box-shadow: inset 0 0 5px rgb(255, 255, 255), inset 0 0 15px rgb(255, 255, 255),
    inset 0 0 25px rgb(255, 255, 255), inset 0 0 35px rgb(255, 255, 255),
    inset 0 0 50px rgb(255, 255, 255), inset 0 0 70px rgb(255, 255, 255),
    inset 0 0 90px rgb(255, 255, 255);
} */

.exp-bg {
  background-image: url("/src/assets/exp.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
