@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #1e1e2f, #252531);
  color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

